@{
    ViewData["Title"] = "Home Page";
}

@* 
    Main home page of the Northwind MVC application
    This is the default landing page that users see when accessing the root URL
*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
